 .main{
    /* background-color: #000b58;   #0fad76 */
    background-color: #629c86;
    flex:1;
    /* min-height: 100vh; */
    padding-bottom: 100vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    /* color: antiquewhite; */
} 
.main .nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    /* margin: 50px 0px; */

    font-size: 56px;
    color: rgb(115, 189, 189);
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    /* background: -webkit-linear-gradient(60deg,#4b90ff,#0fad76); */
    background: -webkit-linear-gradient(80deg,#5e91dc,#0d7a54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main .greet .helping{
    font-size: 28px;
    opacity: 0.6;
    
}


.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    gap: 20px;
    padding: 20px;
}
.main .card{
    height: 200px;
    padding: 15px;
    background-color: #76c4aa;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.main .card img{
    height: 35px;
    padding: 5px;
    position: absolute;
    /* background-color: grey; */
    border-radius: 30px;
    bottom: 10px;
    right: 10px;
}
.main .card:hover{
    background-color:#4b7a6a ;
}

.main .msg2-card{
    height: 20px;
    width: 28px;
}
.main-bottom{
    position: absolute;
    top: 608px;
    /* bottom: 65vh; */
     /*  This is for vh*/
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #76c4aa;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    width: 25px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 7px;
}

.main  .bottom-info{
    font-size: 12px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}



body{
    overflow: hidden;
}
/* .mic-dark{
    filter: invert(1);  
    opacity: 0.7; 
} */
.search-box img{
    filter: invert(1);  
    opacity: 0.5; 
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: auto;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}
.result-data img{
    height: 42px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: blue;
    background: linear-gradient(to right, #006769,#40A578,#9DD8BE);
    background-size: 800px 50px;
    height: 12px;
    animation: loader 3s infinite linear;
}
@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}
.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}
/* @media (max-width:600px) {
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box {
        padding: 5px;
    }
    .search-box div{
        gap: 5px;
    }
} */